<table>
  <thead>
    <tr>
      <th>Task</th>
      <th></th>
    </tr>
  </thead>
   <tbody>
      <% @tasks.each do |task| %>
         <tr>
            <td><%= task%></td>
         </tr>
      <% end %>     
   </tbody>
</table>